Source: libhttp-entity-parser-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl,
               perl
Build-Depends-Indep: libhash-multivalue-perl <!nocheck>,
                     libhttp-message-perl <!nocheck>,
                     libhttp-multipartparser-perl <!nocheck>,
                     libjson-maybexs-perl <!nocheck>,
                     libstream-buffered-perl <!nocheck>,
                     libwww-form-urlencoded-perl <!nocheck>
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libhttp-entity-parser-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libhttp-entity-parser-perl.git
Homepage: https://metacpan.org/release/HTTP-Entity-Parser
Rules-Requires-Root: no

Package: libhttp-entity-parser-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libhash-multivalue-perl,
         libhttp-multipartparser-perl,
         libjson-maybexs-perl,
         libstream-buffered-perl,
         libwww-form-urlencoded-perl
Description: PSGI compliant HTTP Entity Parser
 HTTP::Entity::Parser is a PSGI-compliant HTTP Entity parser. This module also
 is compatible with HTTP::Body. Unlike HTTP::Body, HTTP::Entity::Parser reads
 HTTP entities from PSGI's environment $env->{'psgi.input'} and parses it.
 This module supports application/x-www-form-urlencoded, multipart/form-data
 and application/json.
